
* {
  box-sizing: border-box;
}

.mypage {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  .mypage-contents.clearfix {
    width: 1020px;
    height: 1301px;
    margin: 40px auto 0;
    border-style: solid;
    border-width: 0;
    display: block;
    padding: 0 0 40px 0;

    .signup-main {
      width: 700px;
      height: 562px;
      float: right;
      position: relative;

      .mypage-content__chapter-container {
        width: 700px;
        height: 562px;
        background-color: #fff;
        margin-top: 40px;
        .signup-main__chapter-head {
          width: 700px;
          height: 50px;
          padding: 8px 24px;
          font-size: 24px;
          border-bottom: 1px solid #f5f5f5;
          text-align: center;
          line-height: 1.4;
          font-weight: bold;
        }
        .signup-main__inner--registration-form {
          width: 700px;
          height: 512px;
          padding: 40px 40px 64px;
          border-top: 1px solid #f5f5f5;

          .signup-main__content {
            width: 343px;
            height: 407px;
            margin: 0 auto;
            
            .signup-main__form-group {
              width: 343px;
              height: 98px;
              .signup-main__form-require {
                background-color: #3ccaca;
                border-radius: 2px;
                margin: 0 0 0 8px;
                padding: 2px 4px;
                color: #fff;
                font-size: 12px;
                vertical-align: top;
              }
              .signup-main__input-default {
                height: 48px;
                padding: 10px 16px 8px;
                border-radius: 4px;
                border: 1px solid #ccc;
                line-height: 1.5;
                font-size: 16px;
                margin: 8px 0 0;
              }
              .signup-main__card-list {
                margin: 8px 0 0;
                list-style: none;
                display: flex;
                
                .signup-main__card-list li {
                  vertical-align: middle;
                  margin-right: 8px;
                  
                  
                }
              }
            }
            .signup-main__form-group.signup-form-expire {
              width: 343px;
              height: 70px;
              margin: 32px 0 0;
              .signup-main__select-wrap--half {
                position: relative;
                margin: 8px 0 0;
                width: calc(50% - 2px);
                display: inline-block;
                
                float: left;
                height: 48px;
                .form-signup__month__select {
                  position: relative;
                  z-index: 2;
                  height: 48px;
                  padding: 0 16px;
                  border-radius: 4px;
                  border: 1px solid #ccc;
                  background: 0;
                  font-size: 16px;
                  line-height: 1.5;
                  width: calc(100% - 38px);
                  cursor: pointer;
                  -webkit-appearance: none;
                }
                .fas.fa-chevron-down {
                  margin: 0 6px 0 -15px;
                  position: relative;
                  top: 3px;
                  color: #888;
                  pointer-events: none;
                  right: 16px;
                  z-index: 2;
                  font-weight: 600;
                }
                .month-year {
                  font-size: 14px;
                }
                
              }
            }
            .signup-main__form-group.seqcode {
              width: 343px;
              height: 93px;
              margin: 32px 0 0;
              .signup-main__seqcode {
                position: relative;
                margin: 8px 0 0;
                .signup-main__seqcode__text {
                  text-align: right;
                  color: #0099e8;
                  font-size: 14px;
                  .signup-main__form-question {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background-color: #0099e8;
                    color: #fff;
                    line-height: 14px;
                    font-size: 12px;
                    text-align: center;
                  }
                }
              }
            }
            .top__margin {
              background-color: #3ccaca;
              border: 1px solid #3ccaca;
              color: #fff;
              display: block;
              line-height: 48px;
              font-size: 14px;
              cursor: pointer;
              text-align: center;
              width: 100%;
              margin: 32px 0 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}