.Header{
  padding: 0 60px;
  width: 100%;
  background-color: white;
  
  &__inner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
  }
  

  &__top{
    position: relative;
    display: flex;
    align-items: center;
  }

  &__icon{
    padding-bottom: 10px;
    margin-right: 30px;
    border-radius: 4px;      
      }

  &__logo{
    width: 140px;
    height: 40.55px;
      }
  
  &__search-Box{
    width: 100%;
    margin-left: auto;
  }

  &__form{
    display: flex;
    margin-bottom: 5px;
    width: 100%;
  }
        
  &__input{
    width: calc(100% - 26px);
    height: 36px;
    padding: 0 0 0 5px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
        
  &__search-Box__icon{
    width: 19.52px;
    height: 19.52px;
  }
        
  &__button{
    background-color: #3CCACE;
  }
      
  &__resultLists{
    display: flex;
    position: absolute;
    right: 0;
    top: 36px;
    z-index: 2;
  }
    
  
  &__nav{
    display: flex;
    justify-content: space-between;
  }
  &__left-nav{
    display: flex;
    z-index: 2;
    
    &--category{
      position: absolute;
    }
    &--brand{
      position: absolute;
      left: 300px;
    }
  }
  
  &__right-nav{
    display: flex;
  }
  &__right-list{
    margin-left: 20px;;
  }

  &__navBtn{
    text-decoration: none;
    color: #333;
    line-height: 32px;
    font-size: 14px;

  } 
  ul.category1{
    display: none;
    line-height: 32px;
    font-size: 14px;
    box-sizing: border-box;
    background-color: white;
    width: 224px;
    list-style: none;
    cursor: pointer;
    li{
      a{
        color: #000;
      }
    &:hover {
    a {
      color:#ffb340;

        }
      }
    }
  }
  ul.category2{
    display: none;
    background-color: rgb(255, 255, 255);
    display: none;
    left: 220px;
    position: absolute;
    top: 32px;
    width: 224px;
    cursor: pointer;
    li.child__list{
    a{
      color:#000;
    }
  }
    li{
      &:hover {
      a {
        color:#ffb340;
          }
        }
      }
    }
    ul.category3{
      display: none;
      background-color: rgb(255, 255, 255);
      display: none;
      left: 224px;
      position: absolute;
      top: 0px;
      width: 224px;
      cursor: pointer;
      li.grandchild__list{
        a{
          color:#000;
        }
      }
      li{
        &:hover {
        a {
          color:#ffb340;
            }
          }
        }
    }
  
}
