.new-wrapper{
  
  height: 42%;
  &__main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--create{
      margin: 50px 0 50px 0;
      font-size: 25px;
    }

    .back-home{
      font-size: 20px;
    }
  }
}