body{
  background-color: var(--sub-color);
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  width: 100%;
  height: auto;

  .wrapper-product-dtail{
    background-color: var(--bg-color);
    padding: 40px;

    .main-content{
      padding: 24px 40px 40px;
      max-width: 700px;
      background-color:white;
      margin:  0 auto;

      h1.item-name {
        font-weight: bold;
        font-size: 24px;
        color: #333;
        text-align: center;
        word-wrap: break-word;
        line-height: 1.4;
        font-family: 'Source Sans Pro', Helvetica,Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      }

      &__photo{
        margin: 16px 0 0;
        min-width: 280px;
        min-height: 280px;
        text-align:center;
        position: relative;
        .item-main-content__photo--big{
          height: 280px;
          width: 500px;
        }
        .items-box_photo__sold{
          width: 0;
          height: 0;
          border-width: 150px 150px 0 0;
          border-color: #ea352d transparent transparent transparent;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          border-style: solid;
          &__inner{
            top: -120px;
            font-size: 30px;
            position: absolute;
            left: 0;
            z-index: 2;
            color: #fff;
            transform: rotate(-45deg);
            letter-spacing: 2px;
            font-weight: 600;
          }
        }
      }
      
      &__photoSub{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        &--small{
          width: 20%;
          height: auto; 
          margin: 0 5px 0 0px;
        }
      }

      &__price{
        margin: 24px 0 0;
        text-align: center;
        font-size: 46px;
        margin: 24px 0 24px;
        

        &--detail{
        display: flex;
        justify-content: center;

          &-tax {
            font-size: 10px;
          }

          &-shipFee{
            font-size: 16px;
            margin-left: 10px;
          }
        }
      }

      &__purchase{
        width: 100%;
        margin: auto;

        &--btn{
          background: var(--main-color);
          border: 1px solid var(--main-color);
          color: #fff;
          width: 60%;
          height: 100%;
          font-size: 18px;
          border-radius: 100px;
          display: block;
          text-decoration: none;
          margin:  0 auto;
          margin-bottom: 10px;
          
          a{
            text-decoration: none;
            color: #fff;
          }
        }
      }

      &__description{
        margin-bottom: 30px;
      }

      &__table{
        width: 100%;
        height: 375px;
        margin:  0 auto;
        margin-bottom: 20px;

        th{
          background-color:rgb(233, 233, 233) ;
          border:solid 1px #aaaaaa;
          width: 20%;
          text-align: center;
          font-size: 14px;
        }

        td{
          border:solid 1px #aaaaaa;
          padding-left: 20px;
          font-size: 14px;
        }

        a{
          text-decoration: none;
          color: #3CCACE;
          font-size: 14px;
        }
      }

      &__btn{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;

        &--like{
          border: 1px solid #333;
          border-radius: 40px;
          font-size: 14px;
          padding: 6px 10px;
          color: var(--main-color);
          border-color:#ffb340;
          display: flex;
          align-items: center;
        }

        &--report{
          border: 1px solid #333;
          border-radius: 4px;
          font-size: 14px;
          padding: 6px 10px;
        }
      }
    }

    .comment{
      padding: 24px 40px 40px;
      max-width: 700px;
      background-color:white;
      margin:  0 auto;
      margin-top: 10px;

      &__history{

        &--name{
          margin-left: 30px;
        }

        &--content{
          width: 100%;
          min-height:30px;
          background-color: var(--sub-color);
          margin: auto;
          margin-bottom: 10px;
          padding-top: 20px;
          padding-left: 20px;

          &-date{
            padding-top: 20px;
            padding-bottom: 10px;
            color: gray;
          }
        }
      }

      &__input{
        margin-bottom: 10px;
        width: calc(100%);
        min-height: 104px;
        border: solid;
        border-width: thin;
        border-color: ar(--sub-color);
      }

      &__caution{
        padding: 8px;
        margin-bottom: 80px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 10px 0;
        text-align: left;
      }

      &__btn{
        height: 53px;
        margin-top: 30px;
        width: 100%;
        position: relative;

        &--link{
          background: var(--main-color);
          border: 1px solid var(--main-color);
          color: #fff;
          width: 60%;
          height: 100%;
          font-size: 18px;
          border-radius: 100px;
          display: block;
          text-decoration: none;
          margin:  0 auto;
        }

        .fa-comment{
          color:white;
          position: absolute;
          top: 32%;
          left: 30%;
        }
      }
    }

    .other-products{
      max-width: 780px;
      margin:  0 auto;

      &__links{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        color: var(--main-color);
      }

      &__genre{
        text-align: center;
        color: var(--main-color);
        font-size: 22px;
        font-weight: bold;
        text-align: left;
        margin-top: 15px;
      }

      a{
        text-decoration: none;
        color: var(--main-color);
      }
    }
  }
}