%body
  %header.render.using.kuriyamasan.format
  -# %section.item-box-container.l-single-container


  .main-content
    %h1.item-name underground WT142 pro carbon カイトサーフィン
    .main-content__photo
      %img.item-main-content__photo--big{:alt => "underground WT142 pro carbon カイトサーフィン", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_1.jpg?1588653656", :src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_1.jpg?1588653656", :style => "opacity: 1;"}/
    
    .main-content__photoSub
      %img.main-content__photoSub--small{:src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_1.jpg?1588653656"}/
      %img.main-content__photoSub--small{:src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_2.jpg?1588653656"}/


    .main-content__price
      ¥12,000
      %span.main-content__price--detail
        .main-content__price--detail-tax 
          (税込)
        .main-content__price--detail-shipFee 
          送料込み


    .main-content__description
      親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
    
    %table.main-content__table{border: "1" ,style: "border-collapse: collapse"}
      %tbody
        %tr
          %th 出品者
          %td
            %a{:href => "https://www.mercari.com/jp/u/822341550/"} hoge
            %div
        %tr
          %th カテゴリー
          %td
            %a{:href => "https://www.mercari.com/jp/category/8/"}
              %div スポーツ・レジャー
            %a{:href => "https://www.mercari.com/jp/category/103/"}
              .item-detail-table-sub-category
                %i.icon-arrow-right
                その他スポーツ
            %a{:href => "https://www.mercari.com/jp/category/898/"}
              .item-detail-table-sub-sub-category
                %i.icon-arrow-right
                その他
        %tr
          %th ブランド
          %td
        %tr
          %th 商品の状態
          %td 新品/未使用
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td 着払い（購入者負担）
        %tr
          %th 配送元地域
          %td 青森県
        %tr
          %th 発送日の目安
          %td 	1-2日で発送

    .main-content__btn

      .main-content__btn--like
        = icon('fas', 'star')
        お気に入り 0
      .main-content__btn--report
        = icon('fab', 'font-awesome-flag')
        不適切な商品の通報

  .comment
    %input.comment__input{id: "", name: "", type: "text", value: "", :placeholder =>""}
    .comment__caution
      相手のことを考え丁寧なコメントを心がけましょう。
      %br
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
    
    .comment__btn
      = icon('fas', 'comment')
      コメントする

  .other-products
    .other-products__links
      %a.other-products__links-privious
        前の商品
      %a.other-products__links-next
        次の商品
    .other-products__genre
      %a.other-products__links-privious
        メンズもっと見る




  -# .item-price-box.text-center
  -#   %span.item-price.bold ¥12,000
  -#   %span.item-tax (税込)
  -#   %span.item-shipping-fee 送料込み
  -# -# %a.item-buy-btn{:href => "https://www.mercari.com/jp/transaction/buy/m62908304477/?_s=U2FsdGVkX19yb0__EEHaDmE7AeDRf_NzpHFlb_CqXfkW5NZhd5ZhmmG_HbApkTLQOwiUQOEHjXGalI1cUDDO8D3AojfVSJdoM0CDoX6jLRQTystCnm5aarFX3Whq5mns"}
  -# -#   購入画面に進む


-#               %img.is-higher-width{:src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_3.jpg?1588653656"}/

      -# -# こいついらないかも
      -# .owl-carousel.owl-loaded.owl-drag

      -# .owl-stage-outer
      -#   .owl-stage
      -#     -# .owl-item.active
          -# .owl-item-inner.is-higher-height
          -# .owl-item{:style => "width: 300px;"}
          -#   .owl-item-inner.is-higher-height
          -#     %img.owl-lazy{:alt => "underground WT142 pro carbon カイトサーフィン", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_2.jpg?1588653656"}/
          -# .owl-item{:style => "width: 300px;"}
          -#   .owl-item-inner.is-higher-width
          -#     %img.owl-lazy{:alt => "underground WT142 pro carbon カイトサーフィン", "data-src" => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_3.jpg?1588653656"}/
        
        
        -# .owl-nav.disabled
          -# .owl-prev prev
-#           -# .owl-next next
-#         .owl-dots
-#           .owl-dot.active
-#             %span
-#             .owl-dot-inner
-#               %img.is-higher-height{:src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_1.jpg?1588653656"}/
-#           .owl-dot
-#             %span
-#             .owl-dot-inner
-#               %img.is-higher-height{:src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_2.jpg?1588653656"}/
-#           .owl-dot
-#             %span
-#             .owl-dot-inner
-#               %img.is-higher-width{:src => "https://static.mercdn.net/item/detail/orig/photos/m62908304477_3.jpg?1588653656"}/
-#     .item-price-box.text-center.visible-sp
-#       %span.item-price.bold ¥12,000
-#       %span.item-tax (税込)
-#       %span.item-shipping-fee 送料込み
-#     %section.visible-sp
-#       .item-btn-float-area
-#         %a.item-buy-btn{:href => "https://www.mercari.com/jp/transaction/buy/m62908304477/?_s=U2FsdGVkX19yb0__EEHaDmE7AeDRf_NzpHFlb_CqXfkW5NZhd5ZhmmG_HbApkTLQOwiUQOEHjXGalI1cUDDO8D3AojfVSJdoM0CDoX6jLRQTystCnm5aarFX3Whq5mns"}
-#           購入画面に進む

-#   %a.item-action-text{"data-action" => "item/openDetail", "data-adjust-url" => "http://app.adjust.io/xio2ii?campaign=iOS&adgroup=items.buy_button1", "data-key" => "id=m62908304477", "data-play-id" => "com.kouzoh.mercari", "data-toggle" => "open-app", "data-url-scheme" => "mercari://"}
-#     アプリで購入
-#   .item-description.f14
-#     %p.item-description-inner
-#       underground WT142 pro carbon
-#       カイトサーフィン用ボード
      
-#       7年近くは使ってなくて室内倉庫で保管してました。
-#   .item-button-container.clearfix
-#     .item-button-left
-#       %button.item-button.item-button-like{"data-ga" => "element", "data-ga-category" => "LIKE", "data-ga-label" => "like!", "data-id" => "m62908304477", "data-toggle" => "like", :name => "like!", :type => "button"}
-#         %i.icon-like-border
-#         %span いいね!
-#         %span.fade-in-down{"data-num" => "like"} 1
-#       %a.item-button.item-button-report.clearfix{"data-modal" => "report-item", "data-open" => "modal", :href => ""}
-#         %i.icon-flag
-#         %span 不適切な商品の報告
-#       %input{:name => "like_add_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/add/m62908304477/?_s=U2FsdGVkX19yb0__EEHaDmE7AeDRf_NzpHFlb_CqXfkW5NZhd5ZhmmG_HbApkTLQOwiUQOEHjXGalI1cUDDO8D3AojfVSJdoM0CDoX6jLRQTystCnm5aarFX3Whq5mns"}/
-#       %input{:name => "like_del_url", :type => "hidden", :value => "https://www.mercari.com/jp/like/delete/m62908304477/?_s=U2FsdGVkX19yb0__EEHaDmE7AeDRf_NzpHFlb_CqXfkW5NZhd5ZhmmG_HbApkTLQOwiUQOEHjXGalI1cUDDO8D3AojfVSJdoM0CDoX6jLRQTystCnm5aarFX3Whq5mns"}/
-#       %input{:name => "__csrf_value", :type => "hidden", :value => "25eac1f3c6a54e8c49efcdecbb3096ad2b9d8bc53a0d5afe2495907eb8effe442fb07b6af6f5fb16105126eeeb258bd70368345061b0c7b3af115f5910fd80a2c"}/
-#     .item-button-right
-#       %a{:href => "https://www.mercari.com/jp/safe/description/", :target => "_blank"}
-#         %i.icon-lock
-#         %span あんしん・あんぜんへの取り組み
-# .item-detail-message
-#   .message-container
-#     .message-content
-#       %form.message-form{:action => "https://www.mercari.com/jp/comment/add/", :method => "POST"}
-#         %input{:name => "__csrf_value", :type => "hidden", :value => "25eac1f3c6a54e8c49efcdecbb3096ad2b9d8bc53a0d5afe2495907eb8effe442fb07b6af6f5fb16105126eeeb258bd70368345061b0c7b3af115f5910fd80a2c"}/
-#         %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
-#         %input{:name => "item_id", :type => "hidden", :value => "m62908304477"}/
-#         %input{:name => "redirect_url_key", :type => "hidden", :value => "item_detail"}/
-#         %textarea.textarea-default{:name => "body", :type => "text", :value => ""}
-#         %button.message-submit.btn-default.btn-gray{:type => "submit"}
-#           %span コメントする
-# %ul.nav-item-link-prev-next.clearfix
-#   %li.nav-item-link-prev
-#     %a{:href => "/jp/items/m92846535606/"}
-#       %i.icon-arrow-left>
-#       Tomtomtom☆さま専用です
-#   %li.nav-item-link-next
-#     %a{:href => "/jp/items/m10484514635/"}
-#       メンズ　アロハシャツ　シルク100
-#       %i.icon-arrow-right
-# .item-social-media-box
-#   .text-center
-#     .fb-save.fb_iframe_widget{"data-uri" => "product://113299479059860/m62908304477", "fb-iframe-plugin-query" => "app_id=466308336793848&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm62908304477", "fb-xfbml-state" => "rendered"}
-#       %span{:style => "vertical-align: top; width: 0px; height: 0px; overflow: hidden;"}
-#         %iframe{:allow => "encrypted-media", :allowfullscreen => "true", :allowtransparency => "true", "data-testid" => "fb:save Facebook Social Plugin", :frameborder => "0", :height => "1000px", :name => "f36e16771d573b8", :scrolling => "no", :src => "https://www.facebook.com/v2.5/plugins/save.php?app_id=466308336793848&channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D46%23cb%3Dfc743081f11098%26domain%3Dwww.mercari.com%26origin%3Dhttps%253A%252F%252Fwww.mercari.com%252Ff7837bb08da44c%26relation%3Dparent.parent&container_width=700&locale=ja_JP&sdk=joey&uri=product%3A%2F%2F113299479059860%2Fm62908304477", :style => "border: none; visibility: visible; width: 0px; height: 0px;", :title => "fb:save Facebook Social Plugin", :width => "1000px"}
-#   %ul.social-media-box
-#     %li
-#       %a.share-btn{"data-window-name" => "facebook_window", :href => "http://www.facebook.com/share.php?u=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fitems%2Fm62908304477%2F", :target => "_blank"}
-#         %i.icon-facebook
-#     %li
-#       %a.share-btn{"data-window-name" => "twitter_window", :href => "http://twitter.com/share?count=horizontal&original_referer=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fitems%2Fm62908304477%2F&text=underground%20WT142%20p%E2%80%A6%20%28%C2%A512%2C000%29%20https%3A%2F%2Fwww.mercari.com%2Fjp%2Fitems%2Fm62908304477%2F%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%E3%80%8C%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E3%80%8D%E3%81%A7%E8%B2%A9%E5%A3%B2%E4%B8%AD%E2%99%AA%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%40mercari_jp%E3%81%95%E3%82%93%E3%81%8B%E3%82%89", :target => "_blank"}
-#         %i.icon-twitter
-#     %li.social-hidden-item
-#       %a{:href => "http://line.me/R/msg/text/?underground WT142 pro carbon カイトサーフィン%20%7C%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E%E3%82%A2%E3%83%97%E3%83%AA%0D%0Ahttps://www.mercari.com/jp/items/m62908304477/", :target => "_blank"}
-#         %i.icon-line
-#     %li
-#       %a.share-btn{"data-window-name" => "pinterest_window", :href => "http://pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fitems%2Fm62908304477%2F&media=https%3A%2F%2Fstatic.mercdn.net%2Fitem%2Fdetail%2Forig%2Fphotos%2Fm62908304477_1.jpg%3F1588653656&description=%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%E5%95%86%E5%93%81%3A%20underground%20WT142%20pro%20carbon%20%E3%82%AB%E3%82%A4%E3%83%88%E3%82%B5%E3%83%BC%E3%83%95%E3%82%A3%E3%83%B3%20%23%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA", :target => "_blank"}
-#         %i.icon-pinterest
-# .items-in-user-profile
-#   %section.items-box-container.clearfix.related-item-column.items-in-user-profile
-#     %h2.items-box-head
-#       %a{:href => "https://www.mercari.com/jp/u/822341550/"} 猫神さまさんのその他の出品
-#     .items-box-content.clearfix
-#       %section.items-box
-#         %a{:href => "/jp/items/m38536615907/"}
-#           %figure.items-box-photo
-#             %img.is-higher-height.lazyloaded{:alt => "飾りサンゴ ２点セット", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m38536615907_1.jpg?1588659070", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m38536615907_1.jpg?1588659070"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 飾りサンゴ ２点セット
-#             .items-box-num
-#               .items-box-price.font-5 ¥5,500
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 1
-#       %section.items-box
-#         %a{:href => "/jp/items/m44819277329/"}
-#           %figure.items-box-photo
-#             %img.is-higher-width.lazyloaded{:alt => "飾りサンゴ ２点セット", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m44819277329_1.jpg?1588658972", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m44819277329_1.jpg?1588658972"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 飾りサンゴ ２点セット
-#             .items-box-num
-#               .items-box-price.font-5 ¥5,500
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 1
-#       %section.items-box
-#         %a{:href => "/jp/items/m30271140765/"}
-#           %figure.items-box-photo
-#             %img.is-higher-width.lazyloaded{:alt => "飾りサンゴ ２点セット", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m30271140765_1.jpg?1588658806", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m30271140765_1.jpg?1588658806"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 飾りサンゴ ２点セット
-#             .items-box-num
-#               .items-box-price.font-5 ¥5,500
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 2
-#       %section.items-box
-#         %a{:href => "/jp/items/m84643137403/"}
-#           %figure.items-box-photo
-#             %img.is-higher-height.lazyloaded{:alt => "ド飾りサンゴ ３点セット", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m84643137403_1.jpg?1588659144", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m84643137403_1.jpg?1588659144"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 ド飾りサンゴ ３点セット
-#             .items-box-num
-#               .items-box-price.font-5 ¥4,500
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 1
-#       %section.items-box
-#         %a{:href => "/jp/items/m72262814659/"}
-#           %figure.items-box-photo
-#             %img.is-higher-height.lazyloaded{:alt => "飾りサンゴ  ３点セット", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m72262814659_1.jpg?1588658674", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m72262814659_1.jpg?1588658674"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 飾りサンゴ  ３点セット
-#             .items-box-num
-#               .items-box-price.font-5 ¥6,000
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 1
-#       %section.items-box
-#         %a{:href => "/jp/items/m53323145013/"}
-#           %figure.items-box-photo
-#             %img.is-higher-height.lazyloaded{:alt => "レイシー　LX502CX", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m53323145013_1.jpg?1588654788", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m53323145013_1.jpg?1588654788"}/
-#             %figcaption
-#               .item-sold-out-badge
-#                 %div SOLD
-#           .items-box-body
-#             %h3.items-box-name.font-2 レイシー　LX502CX
-#             .items-box-num
-#               .items-box-price.font-5 ¥20,000
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 5
-#   %section.items-box-container.clearfix.related-item-column
-#     %h2.items-box-head
-#       %a{:href => "https://www.mercari.com/jp/category/898/"}
-#         その他 （スポーツ・レジャー） その他の商品
-#     .items-box-content.clearfix
-#       %section.items-box
-#         %a{:href => "/jp/items/m41225125516/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "ダイビングセット", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m41225125516_1.jpg?1588675277", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m41225125516_1.jpg?1588675277"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 ダイビングセット
-#             .items-box-num
-#               .items-box-price.font-5 ¥25,000
-#       %section.items-box
-#         %a{:href => "/jp/items/m88681124259/"}
-#           %figure.items-box-photo
-#             %img.is-higher-height.lazyloaded{:alt => "ラクロス　Burn pro complete", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m88681124259_1.jpg?1584239238", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m88681124259_1.jpg?1584239238"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 ラクロス　Burn pro complete
-#             .items-box-num
-#               .items-box-price.font-5 ¥21,000
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 14
-#       %section.items-box
-#         %a{:href => "/jp/items/m56698516924/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "フィギュアスケート　練習用スカート", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m56698516924_1.jpg?1588679574", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m56698516924_1.jpg?1588679574"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 フィギュアスケート　練習用スカート
-#             .items-box-num
-#               .items-box-price.font-5 ¥1,500
-#       %section.items-box
-#         %a{:href => "/jp/items/m28617409557/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "STX RZR ラクロス　グローブ", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m28617409557_1.jpg?1581600358", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m28617409557_1.jpg?1581600358"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 STX RZR ラクロス　グローブ
-#             .items-box-num
-#               .items-box-price.font-5 ¥21,000
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 16
-#       %section.items-box
-#         %a{:href => "/jp/items/m75715320968/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "福原愛 本物 サイン", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m75715320968_1.jpg?1551960932", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m75715320968_1.jpg?1551960932"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 福原愛 本物 サイン
-#             .items-box-num
-#               .items-box-price.font-5 ¥3,600
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 6
-#       %section.items-box
-#         %a{:href => "/jp/items/m50691987127/"}
-#           %figure.items-box-photo
-#             %img.lazyloaded{:alt => "ダイビング靴　新品未使用　ブランド名　mares", "data-src" => "https://static.mercdn.net/c!/w=240/thumb/photos/m50691987127_1.jpg?1588326022", :src => "https://static.mercdn.net/c!/w=240/thumb/photos/m50691987127_1.jpg?1588326022"}/
-#           .items-box-body
-#             %h3.items-box-name.font-2 ダイビング靴　新品未使用　ブランド名　mares
-#             .items-box-num
-#               .items-box-price.font-5 ¥5,490
-#               .font-2
-#                 %i.icon-like-border
-#                 %span 1
-# %nav.bread-crumbs.pos-bottom
-#   %ul
-#     %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
-#       %a{:href => "https://www.mercari.com/jp/", :itemprop => "url"}
-#         %span{:itemprop => "title"} メルカリ
-#       %i.icon-arrow-right
-#     %li{:itemscope => "", :itemtype => "http://data-vocabulary.org/Breadcrumb"}
-#       %span{:itemprop => "title"} underground WT142 pro carbon カイトサーフィン
